@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  font-size: 14px;
  min-width: 320px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
